.react-calendar__tile--now {
  background: #fed7aa !important;
  color: #3f3f46 !important;
  border-radius: 8px;
}

.react-calendar__tile--active {
  border: 2px solid #dc2626 !important;
  background: transparent !important;
  color: inherit !important;
  border-radius: 8px;
}
